<?xml version="1.0" encoding="UTF-8" ?>
<odoo>

    <menuitem id="menu_hospital_root"
              name="HMS"
              web_icon="om_hospital,static/description/icon.png"
              sequence="35"
    />
    <menuitem id="menu_frontdesk"
              name="Front Desk"
              parent="menu_hospital_root"
    />
     <menuitem id="menu_billing"
              name="Billing"
              parent="menu_hospital_root"
    />
    <menuitem id="menu_patients"
              name="Patients"
              parent="menu_frontdesk"
              action="action_hospital_patient"
    />
    <menuitem id="menu_patients_readonly"
              name="View Patients"
              parent="menu_frontdesk"
              action="action_hospital_readonly_patient"
    />
    <menuitem id="menu_appointment"
              name="Appointment"
              parent="menu_frontdesk"
              action="action_hospital_appointment"
    />
    <menuitem id="menu_appointment_line"
              name="Appointment Lines"
              parent="menu_frontdesk"
              action="action_hospital_appointment_line"
    />
    <menuitem id="menu_configuration"
              name="Configuration"
              sequence="100"
              groups="om_hospital.group_hospital_doctors"
              parent="menu_hospital_root"
    />
    <menuitem id="menu_patient_tag"
              name="Tags"
              parent="menu_configuration"
              action="action_patient_tag"
    />
     <menuitem id="menu_hms_invoicing"
              name="Invoice"
               action="account.action_move_out_invoice_type"
              parent="menu_billing"
    />
     <menuitem id="menu_hms_payment"
              name="Payment"
               action="account.action_account_payments"
              parent="menu_billing"
    />

</odoo>